node_modules
dist
.env
.DS_Store
apps/api/uploads/*
!apps/api/uploads/.gitkeep
local.settings.json
services/realtime/obj/Debug/net9.0/Xtract.Realtime.AssemblyInfo.cs
services/realtime/obj/Debug/net9.0/Xtract.Realtime.AssemblyInfoInputs.cache
